*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:url('Images/Clouds.jpeg');
}
#heading{
    width:100%;
    height:12vh;
    background-color: rgb(16, 16, 18);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#headingContent{
    padding-left:3vw;
    padding-top:3vh;
    padding-bottom:3vh ;
    font-size:4vh;
    font-family: 'Milonga', cursive;
    letter-spacing: 2px;
    color:white;
    word-spacing: 17px;
    text-shadow: 3px 2px 2px rgb(115, 195, 195);
}
#headingSideContent{
    padding-right:3vw;
    padding-top:3vh;
    padding-bottom:3vh ;
    font-size:4vh;
    letter-spacing: 2px;
    color:rgb(255, 255, 255);
    word-spacing: 17px;
    text-shadow: 3px 2px 2px rgb(115, 195, 195);
}


.main{
    width:100%;
    margin-top: 80px;
    position:relative;
}
.image{
    width:100%;
    height:300px;
    position:relative;
}
/* 
.all{
    width: 100%;
    position: relative;
    margin-top: -28%;
} */

#img2{
    height:400px;
    opacity:0.7;
    z-index: -1;
    position:absolute;
    left:50%;
    top:-15%;
    animation-name: moving;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow:hidden;
}
@keyframes moving {
    from{left:0}
    to{left:100%};
}
.mainForm{
    display: grid;
    justify-content: center;
}
form{
 
    /* width:500px;
    height:250px; */
    text-align: center;
    position:absolute;
    top:30%;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    border:1px solid rgba(201, 178, 178, 0);
    width:400px;
    background-image: linear-gradient(rgba(151, 144, 196, 0),rgba(128, 73, 117, 0));
}
label{
    font-family: 'Spectral', serif;
    font-weight: 5px;
    font-size:30px;
    text-shadow: 2px 2px 2px lightslategrey;
}

input{
    font-size:20px;
    border:3px solid black;
    width:200px;
    padding: 2px;
    padding-left:10px;
    border-radius: 5px;
    font-family: 'Prata', serif;
}
#button1{
    width:fit-content;
    font-family: 'Gelasio', serif;
    margin:auto;
    font-size:25px;
    border-width:3px;
    border-color: #d8c7d5;
    border-style:outset;
    cursor: pointer;
    border-radius:10px;
}

#button1:hover{
    background-color:rgb(62, 169, 246);
    color: white;
}


@media screen and (max-width: 768px){
    @keyframes moving {
        from{left:0}
        to{left:20%};
            
    }
        #img2{
            animation-duration:2s;
            display:none;
        }
        #headingContent{
            font-size:2vh;
        }
        #headingSideContent{
            font-size:2vh;
        }
}